$color-white: #fff;
$color-black: #000;
$color-blue1: #276374;
$color-blue2: #35a8b9;
$color-dkgray: #414141;
$color-ltgray: #a0a0a0;


$color-palette: (
	'white': $color-white,
	'black': $color-black,
	'blue1': $color-blue1,
	'blue2': $color-blue2,
	'drkgray': $color-dkgray,
	'ltgray' : $color-ltgray
);
